<div class="row">
  <div class="col-md-4" *ngFor="let hero of heroes">
    <div class="card mb-4 box-shadow">
      <img height="200px" width="200px" class="card-img-top" [src]="getImage(hero.id, hero.image)" alt="Hero Image">
      <div class="card-body">
        <h2 class="card-text">{{hero.nickname}}</h2>
        <div class="d-flex btn-toolbar justify-content-between">
          <div class="btn-group">
            <button (click)="viewHero(hero)" type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button (click)="editHero(hero)" type="button" class="btn btn-sm btn-outline-secondary">Edit</button>

          </div>
          <div class="btn-group">
            <button (click)="deleteHero(hero)" type="button" class="btn btn-sm btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <button class="btn btn-primary" (click)="getMore()">Show More</button>
  </div>
</div>