<div class="row">
  <div class="col-md-4" *ngFor="let hero of heroes">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" [src]="getImage(hero.id, hero.images[0])" alt="Heor Image">
      <div class="card-body">
        <h2 class="card-text">{{hero.nickname}}</h2>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>