<div class="modal-header">
  <h4 class="modal-title">View Superhero</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-row" *ngIf="hero">
    <div  class="form-group col-md-6">
      <label for="nickname">Nickname</label>
      <input disabled [(ngModel)]="hero.nickname" name="nickname" type="text" class="form-control" id="nickname" placeholder="Nickname">

    </div>
    <div *ngIf="hero.name" class="form-group col-md-6">
      <label for="name">Name</label>
      <input disabled [(ngModel)]="hero.name" name="name" type="text" class="form-control" id="name" placeholder="Name">
    </div>
  </div>
  <div *ngIf="hero.origin" class="form-group">
    <label for="origin">Origin</label>
    <textarea disabled [(ngModel)]="hero.origin" name="origin" type="text" class="form-control" id="origin" placeholder="Hero Origin"></textarea>
  </div>
  <div *ngIf="hero.powers" class="form-group">
    <label for="powers">Superpowers</label>
    <textarea disabled [(ngModel)]="hero.powers" name="powers" type="text" class="form-control" id="powers" placeholder="Hero list of powers"></textarea>
  </div>

  <div *ngIf="hero.phrase" class="form-group">
    <label for="phrase">Catch Phrase</label>
    <textarea disabled [(ngModel)]="hero.catch_phrase" name="phrase" type="text" class="form-control" id="phrase" placeholder="I'm batman"></textarea>
  </div>

  <label>Images</label>

  <div *ngIf="hero" class="row">
    <div class="col-3" *ngFor="let image of hero.images">
      <img class="img-thumbnail" [src]="getImage(hero.id, image.id)" height="200" width="200">
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="activeModal.close()">Close</button>
</div>